<a href="https://colab.research.google.com/github/Vasantpattiwar/Letsupgrade-Data-Science/blob/main/Day_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1
import pandas as pd 
print(pd.__version__)

1.1.4

In [ ]:
#Q2
import pandas as pd 
import numpy as np
data = np.array(['a', 'b', 'c', 'd', 'e'])
s = pd.Series(data) 
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [ ]:
#Q3
import numpy as np
import pandas as pd
data = np.array(['A', 'B', 'C', 'D', 'E'])
series = pd.Series(data, index = [1, 2, 3, 4, 5])
df = series.to_frame().reset_index()
df

   index  0
0      1  A
1      2  B
2      3  C
3      4  D
4      5  E

In [ ]:
#Q4
import seaborn as sns
mpg=sns.load_dataset('mpg')
print(mpg)

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

In [ ]:
#Q5
import seaborn as sb
import pandas as pd
mpg=sb.load_dataset('mpg')
df = pd.DataFrame(mpg)
df.origin.unique()

array(['usa', 'japan', 'europe'], dtype=object)

In [ ]:
#Q6
import seaborn as sbn
import pandas as pd
mpg=sbn.load_dataset('mpg')
df = pd.DataFrame(mpg)
df[df['origin'].str.contains("usa")]

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]